
@import "partials/_profile-card.scss";
@import "partials/_type.scss";
@import "partials/_blog-post.scss";

$body-background-colour: white;
$body-font-family: Segoe UI, Helvetica Neue Light, Helvetica Neue, sans-serif;

body {
	background: $body-background-colour;
	font-family: $body-font-family;
}

.container {
	margin: 2em;
	@media only screen and (min-width: 55em) {
		display: flex;
	}
}

.banner {
	flex: 1;
}

main {
	flex: 2;
	margin: 0 1em;
}